#root,body,html{cursor:default;display:flex;height:100%;margin:0;width:100%}code{font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace}
/*# sourceMappingURL=main.345256d2.chunk.css.map */